<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Twoje konto zostało pomyślnie utworzone</h2>
        <hr />
        <p>Możesz teraz zalogować się na swoje konto przy użyciu swoich poświadczeń.</p>
    </div>
</div>