@model int;

<a class="nav-link text-white" asp-controller="Orders" asp-action="ShoppingCart">
    <button type="button" class="btn btn-outline-success">
        <i class="bi bi-cart4"></i> @Model
    </button>
</a>