@model string;

<div class="col-2 offset-5 p-4">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-outline-success text-center d-block">
        <i class="bi bi-plus-circle"></i> Dodaj
    </a>
</div>