@{
    ViewData["Title"] = "Nie udało się odnaleźć strony";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Nie udało się odnaleźć strony</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Strona główna</a>
    </div>
</div>